<div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           name="title"
           #title>
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input class="form-control"
           name="publisher"
           #publisher>
  </div>
  <div class="form-group">
      <label for="platform">Platform</label>
      <div>
      <select name="platform" #platform>
          <option value="PC">PC</option>
          <option value="Xbox">Xbox</option>
          <option value="PS4">PS4</option>
          <option value="Switch">Switch</option>
          <option value="DS">DS</option>
        </select>
        </div>
    </div>  
  <input type="button"
         (click)="add(title, publisher, platform)"
         class="btn btn-primary"
         value="Add">
</div>
