<div class="alert alert-danger"
     *ngIf="model.length === 0">
  <h3>You have no books! Add some!</h3>
</div>
<div class="card"
     *ngFor="let game of model">
  <div class="card-body">
    <h5 class="card-title">{{ game.title }}</h5>
    <input *ngIf="!onloan"
           type="button"
           class="btn btn-primary"
           (click)="OnLoan(game.id, game.title, game.publisher,game.platform)"
           value="Onloan">
    <p class="card-text">Publisher: {{ game.publisher}}</p>
    <p class="card-text"> Platform: {{ game.platform}}</p>
    <!-- <em *ngIf="book.isTemporary">Saving...</em> -->
  </div>
</div>